.PunchBtn{
    height: 50px;
    width: 50px;
    padding: 1.2em;
    border-radius: 50%;
    border: none;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.PunchBtn:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    
    transform: scale(1.2);
    color: wheat;
    background-color: rgb(114, 3, 3);
}

.PunchBtn:hover svg{
    transform: scale(2);
}

.PunchBtn:active{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    
    transform: scale(0.9);
    color: wheat;
    background-color: rgb(38, 1, 1);
}